
@using DTOLayer.ContactDTOs
@model WriteUsDTO


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">İletişim</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">İletişim</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Bilgiler </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                        @foreach (var item in ViewBag.v1)
                        {
                            <div class="cont-details">
                                <h5>İletişim Bilgileri</h5>
                                <p class="mt-3 mb-4">
                                    @item.Description
                                </p>
                            </div>
                            <div class="hours">
                                <h6 class="mt-4">Mail:</h6>
                                <p>
                                    <a href="mailto:mail@traversal.com">
                                        @item.Mail
                                    </a>
                                </p>
                                <h6 class="mt-4">Adres:</h6>
                                <p> @item.Address</p>
                                <h6 class="mt-4">Telefon:</h6>
                                <p class="margin-top"><a href="tel:+44-255-366-88">@item.Phone</a></p>
                            </div>
                        }

                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                    <h1 class="mb-3">Bize Yazın</h1>

                    @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
                    {
                        <div class="form-group mb-2">
                            <label class="form-label">Adınız</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x=>x.Name,"",new {@class="text-danger"})
                        </div>

                        <div class="form-group mb-2">
                            <label class="form-label">Mail</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group mb-2">
                            <label class="form-label">Konu</label>
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group mb-2">
                            <label class="form-label">İçerik</label>
                            @Html.TextBoxFor(x => x.Details, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Details, "", new { @class = "text-danger" })

                        </div>

                        <button class="btn btn-info" type="submit">Gönder</button>
                    }

                </div>

            </div>
            <div class="map mt-5 pt-md-5">
                <h5>Map</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86654334463!2d-74.25818682528057!3d40.70531100753592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1493028309728"
                        style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
