<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="@ViewBag.v1.Image" alt="" />
                        <figcaption>
                            <div>
                                <h4>@ViewBag.v1.Title</h4>
                                <p>@ViewBag.v1.Description ₺ </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="@ViewBag.v3.Image" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v3.Title</h4>
                                        <p>@ViewBag.v3.Description ₺ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="@ViewBag.v4.Image" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v4.Title</h4>
                                        <p>@ViewBag.v4.Description ₺ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="@ViewBag.v5.Image" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v5.Title</h4>
                                        <p>@ViewBag.v5.Description ₺ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="@ViewBag.v6.Image" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v6.Title</h4>
                                        <p>@ViewBag.v6.Description ₺ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
