
@using EntityLayer.Concrete
@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<table class="table table-bordered">
    <h3>Aktif Rotalarımız</h3>
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Süre</th>
        <th>Kapasite</th>
        <th>Fiyat</th>
        <th> Detaylar</th>
        <th> Rezervasyon Yap</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.DestinationId</td>
    <td>@item.City</td>
    <td>@item.DayNight</td>
    <td>@item.Capacity</td>
    <td>@item.Price</td>
    <td><a href="/Destination/DestinationDetails/@item.DestinationId/" class="btn btn-outline-info">Detaylar</a></td>
    <td><a href="/Member/Reservation/NewReservation/" class="btn btn-warning">Rezervasyon Yap</a></td>
</tr>
    }



</table>


